<%- include('partials/header') %>
<body>
  <main class="container mx-auto p-4">
    <h1 class="text-center text-3xl mb-4">PokéAnalyse</h1>
    <div class="flex flex-col lg:flex-row justify-center">
      <div class="w-full lg:w-1/3">
        <div class="search-bar">
          <form class="flex w-full" action="/compare" method="get">
            <input
              type="hidden"
              name="searchPokemon2"
              value="<%= searchPokemon2 %>"
            />
            <input
              type="text"
              class="pixel-border flex-grow p-2"
              name="searchPokemon1"
              placeholder="Zoek Pokémon (bv. Charmander)"
              aria-label="Zoek Pokémon"
              value="<%= searchPokemon1 %>"
            />
            <button
              class="pixel-button-compare py-2 px-4 rounded"
              type="submit"
            >
              Zoeken
            </button>
          </form>
        </div>
        <% if (randomPokemon) { %>
        <div id="pokemon1-container" class="pokemon-box">
          <div class="pokedex-header text-center">
            <h2>#<%= randomPokemon.id %> <%= randomPokemon.name %></h2>
          </div>
          <div class="pokedex-body">
            <a href="/pokeDex/<%= randomPokemon.id %>">
              <img
                src="<%= randomPokemon.sprites.front_default %>"
                class="pokemon-img-compare mx-auto"
                alt="<%= randomPokemon.name %>"
              />
            </a>
            <div class="card-body text-center">
              <h2 class="card-title">Stats</h2>
              <table class="table table-stats mx-auto">
                <tbody>
                  <tr>
                    <th scope="row">Levenspunten</th>
                    <td
                      class="<%= stats1[0] > stats2[0] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats1[0] > stats2[0] ? '+' : '-' %> <%= stats1[0]
                        %></span
                      >
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Aanval</th>
                    <td
                      class="<%= stats1[1] > stats2[1] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats1[1] > stats2[1] ? '+' : '-' %> <%= stats1[1]
                        %></span
                      >
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Verdediging</th>
                    <td
                      class="<%= stats1[2] > stats2[2] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats1[2] > stats2[2] ? '+' : '-' %> <%= stats1[2]
                        %></span
                      >
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Speciale Aan.</th>
                    <td
                      class="<%= stats1[3] > stats2[3] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats1[3] > stats2[3] ? '+' : '-' %> <%= stats1[3]
                        %></span
                      >
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Speciale Ver.</th>
                    <td
                      class="<%= stats1[4] > stats2[4] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats1[4] > stats2[4] ? '+' : '-' %> <%= stats1[4]
                        %></span
                      >
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Snelheid</th>
                    <td
                      class="<%= stats1[5] > stats2[5] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats1[5] > stats2[5] ? '+' : '-' %> <%= stats1[5]
                        %></span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <div class="w-full lg:w-1/3">
        <div class="search-bar">
          <form class="flex w-full" action="/compare" method="get">
            <input
              type="hidden"
              name="searchPokemon1"
              value="<%= searchPokemon1 %>"
            />
            <input
              type="text"
              class="pixel-border flex-grow p-2"
              name="searchPokemon2"
              placeholder="Zoek Pokémon (bv. Charmander)"
              aria-label="Zoek Pokémon"
              value="<%= searchPokemon2 %>"
            />
            <button
              class="pixel-button-compare py-2 px-4 rounded"
              type="submit"
            >
              Zoeken
            </button>
          </form>
        </div>
        <% if (randomPokemon2) { %>
        <div id="pokemon2-container" class="pokemon-box">
          <div class="pokedex-header text-center">
            <h5>#<%= randomPokemon2.id %> <%= randomPokemon2.name %></h5>
          </div>
          <div class="pokedex-body">
            <a href="/pokeDex/<%= randomPokemon2.id %>">
              <img
                src="<%= randomPokemon2.sprites.front_default %>"
                class="pokemon-img-compare mx-auto"
                alt="<%= randomPokemon2.name %>"
              />
            </a>
            <div class="card-body text-center">
              <h5 class="card-title text-center">Stats</h5>
              <table class="table table-stats mx-auto">
                <tbody>
                  <tr>
                    <th scope="row">Levenspunten</th>
                    <td
                      class="<%= stats2[0] > stats1[0] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats2[0] > stats1[0] ? '+' : '-' %> <%= stats2[0]
                        %></span
                      >
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Aanval</th>
                    <td
                      class="<%= stats2[1] > stats1[1] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats2[1] > stats1[1] ? '+' : '-' %> <%= stats2[1]
                        %></span
                      >
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Verdediging</th>
                    <td
                      class="<%= stats2[2] > stats1[2] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats2[2] > stats1[2] ? '+' : '-' %> <%= stats2[2]
                        %></span
                      >
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Speciale Aan.</th>
                    <td
                      class="<%= stats2[3] > stats1[3] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats2[3] > stats1[3] ? '+' : '-' %> <%= stats2[3]
                        %></span
                      >
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Speciale Ver.</th>
                    <td
                      class="<%= stats2[4] > stats1[4] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats2[4] > stats1[4] ? '+' : '-' %> <%= stats2[4]
                        %></span
                      >
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Snelheid</th>
                    <td
                      class="<%= stats2[5] > stats1[5] ? 'higher' : 'lower' %>"
                    >
                      <span class="stat-comparison"
                        ><%= stats2[5] > stats1[5] ? '+' : '-' %> <%= stats2[5]
                        %></span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <div class="container mx-auto py-8">
      <div class="tutorial-box">
        <h2 class="text-2xl font-semibold mb-4">Tutorial</h2>
        <p class="mb-2">
          Welkom bij de Pokémon Analyse! Volg deze stappen om te beginnen:
        </p>
        <ol class="list-decimal list-inside mb-4">
          <li>
            Voer de naam van een Pokémon in een van de zoekbalken boven de
            containers in.
          </li>
          <li>Klik op de "Zoeken" knop om de Pokémon op te halen.</li>
        </ol>
      </div>
    </div>
  </main>
  <script>
    const button = document.querySelector(
      '[data-collapse-toggle="navbar-default"]'
    );
    const navbarDefault = document.getElementById("navbar-default");

    button.addEventListener("click", function () {
      navbarDefault.classList.toggle("hidden");
    });
    document.getElementById("reset-btn").addEventListener("click", function () {
      location.href = "/catcher";
    });
  </script>
</body>
