<%- include('partials/header') %>
<main>
  <div class="container">
    <div class="row">
      <section class="col-md-9">
        <h2 class="text-center mt-4">Safari Zone</h2>
        <div class="container text-center mt-3">
          <p class="lead">Vang de Pokemon</p>
        </div>
        <div class="container mt-5">
          <div class="row justify-content-center">
            <% if (randomPokemon) { %>
            <div class="col-md-5">
              <div class="card mb-5 pokedex-card">
                <div class="card-header bg-danger text-white">
                  <h5 class="card-title text-center">
                    Pokémon: <%= randomPokemon.name %> #<%= randomPokemon.id %>
                  </h5>
                </div>
                <img
                  src="<%= randomPokemon.sprite %>"
                  class="card-img-top"
                  alt="<%= randomPokemon.name %>"
                />
              </div>
            </div>
          </div>
          <% } %>
          <!-- Similar setup for opponent Pokémon using `catchPokemon` if available -->
        </div>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-danger btn-lg">
              vang Pokémon
            </button>
          </div>
        </div>
      </section>
      <%- include('partials/aside') %>
    </div>
  </div>
</main>
<%- (include('partials/footer')) %>
