<%- include('partials/header') %>
<body>
  <main class="container mx-auto p-4">
    <h2 class="text-center text-3xl mb-4">PokéAnalyse</h2>
    <div class="flex flex-col lg:flex-row justify-center">
      <div class="w-full lg:w-1/3">
        <div class="search-bar">
          <form class="flex w-full">
            <input
              type="text"
              class="pixel-border flex-grow p-2"
              name="searchPokemon1"
              placeholder="Zoek Pokémon (bv. Charmander)"
              aria-label="Zoek Pokémon"
            />
            <button
              class="pixel-button-compare py-2 px-4 rounded"
              type="submit"
              formaction="/compare?update=randomPokemon1"
              formmethod="get"
            >
              Zoeken
            </button>
          </form>
        </div>
        <div id="pokemon1-container" class="pokemon-box">
          <div class="pokedex-header text-center">
            <h5>#<%= randomPokemon.id %> <%= randomPokemon.name %></h5>
          </div>
          <div class="pokedex-body">
            <img
              src="<%= randomPokemon.sprites.front_default %>"
              class="pokemon-img-compare mx-auto"
              alt="<%= randomPokemon.name %>"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Stats</h5>
              <table class="table table-stats mx-auto">
                <tbody>
                  <% const stats1 = randomPokemon.stats.map(stat =>
                  stat.base_stat); %> <% const stats2 =
                  randomPokemon2.stats.map(stat => stat.base_stat); %>
                  <tr>
                    <th scope="row">HP</th>
                    <td
                      class="<%= stats1[0] > stats2[0] ? 'higher' : 'lower' %>"
                    >
                      <%= stats1[0] > stats2[0] ? '+' : '-' %> <%= stats1[0] %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Attack</th>
                    <td
                      class="<%= stats1[1] > stats2[1] ? 'higher' : 'lower' %>"
                    >
                      <%= stats1[1] > stats2[1] ? '+' : '-' %> <%= stats1[1] %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Defense</th>
                    <td
                      class="<%= stats1[2] > stats2[2] ? 'higher' : 'lower' %>"
                    >
                      <%= stats1[2] > stats2[2] ? '+' : '-' %> <%= stats1[2] %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Special Attack</th>
                    <td
                      class="<%= stats1[3] > stats2[3] ? 'higher' : 'lower' %>"
                    >
                      <%= stats1[3] > stats2[3] ? '+' : '-' %> <%= stats1[3] %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Special Defense</th>
                    <td
                      class="<%= stats1[4] > stats2[4] ? 'higher' : 'lower' %>"
                    >
                      <%= stats1[4] > stats2[4] ? '+' : '-' %> <%= stats1[4] %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Speed</th>
                    <td
                      class="<%= stats1[5] > stats2[5] ? 'higher' : 'lower' %>"
                    >
                      <%= stats1[5] > stats2[5] ? '+' : '-' %> <%= stats1[5] %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <% } %>
        </div>
      </div>

      <div class="w-full lg:w-1/3">
        <div class="search-bar">
          <form class="flex w-full">
            <input
              type="text"
              class="pixel-border flex-grow p-2"
              name="searchPokemon1"
              placeholder="Zoek Pokémon (bv. Charmander)"
              aria-label="Zoek Pokémon"
            />
            <button
              class="pixel-button-compare py-2 px-4 rounded"
              type="submit"
              formaction="/compare?update=randomPokemon2"
              formmethod="get"
            >
              Zoeken
            </button>
          </form>
        </div>
        <div id="pokemon2-container" class="pokemon-box">
          <div class="pokedex-header text-center">
            <h5>#<%= randomPokemon2.id %> <%= randomPokemon2.name %></h5>
          </div>
          <div class="pokedex-body">
            <img
              src="<%= randomPokemon2.sprites.front_default %>"
              class="pokemon-img-compare mx-auto"
              alt="<%= randomPokemon2.name %>"
            />
            <div class="card-body text-center">
              <h5 class="card-title text-center">Stats</h5>
              <table class="table table-stats mx-auto">
                <tbody>
                  <tr>
                    <th scope="row">HP</th>
                    <td
                      class="<%= stats2[0] > stats1[0] ? 'higher' : 'lower' %>"
                    >
                      <%= stats2[0] > stats1[0] ? '+' : '-' %> <%= stats2[0] %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Attack</th>
                    <td
                      class="<%= stats2[1] > stats1[1] ? 'higher' : 'lower' %>"
                    >
                      <%= stats2[1] > stats1[1] ? '+' : '-' %> <%= stats2[1] %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Defense</th>
                    <td
                      class="<%= stats2[2] > stats1[2] ? 'higher' : 'lower' %>"
                    >
                      <%= stats2[2] > stats1[2] ? '+' : '-' %> <%= stats2[2] %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Special Attack</th>
                    <td
                      class="<%= stats2[3] > stats1[3] ? 'higher' : 'lower' %>"
                    >
                      <%= stats2[3] > stats1[3] ? '+' : '-' %> <%= stats2[3] %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Special Defense</th>
                    <td
                      class="<%= stats2[4] > stats1[4] ? 'higher' : 'lower' %>"
                    >
                      <%= stats2[4] > stats1[4] ? '+' : '-' %> <%= stats2[4] %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Speed</th>
                    <td
                      class="<%= stats2[5] > stats1[5] ? 'higher' : 'lower' %>"
                    >
                      <%= stats2[5] > stats1[5] ? '+' : '-' %> <%= stats2[5] %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto py-8">
      <div class="tutorial-box">
        <h2 class="text-2xl font-semibold mb-4">Tutorial</h2>
        <p class="mb-2">
          Welkom bij de Pokémon Analyse! Volg deze stappen om te beginnen:
        </p>
        <ol class="list-decimal list-inside mb-4">
          <li>
            Voer de naam van een Pokémon in een van de zoekbalken boven de
            containers in.
          </li>
          <li>Klik op de "Zoeken" knop om de Pokémon op te halen.</li>
        </ol>
      </div>
    </div>
  </main>

  <script>
    const button = document.querySelector(
      '[data-collapse-toggle="navbar-default"]'
    );
    const navbarDefault = document.getElementById("navbar-default");

    button.addEventListener("click", function () {
      navbarDefault.classList.toggle("hidden");
    });

    document.getElementById("reset-btn").addEventListener("click", function () {
      location.href = "/catcher";
    });
  </script>
</body>
