<%- include('partials/header') %>
<body class="bg-gray-100">
  <main class="container mx-auto p-4 flex flex-col lg:flex-row lg:space-x-4">
    <div class="profile-box w-full lg:w-1/5 mb-4 lg:mb-0">
      <h3 class="text-md mb-4">info</h3>
      <form action="/viewer" method="POST" class="mb-4">
        <div class="mb-4">
          <label for="username" class="block text-sm font-medium text-gray-700"
            >Gebruikersnaam:</label
          >
          <input
            type="text"
            class="form-input mt-1 block w-full"
            id="username"
            name="username"
            value="<%= user.username %>"
          />
        </div>
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700"
            >E-mail:</label
          >
          <input
            type="email"
            class="form-input mt-1 block w-full"
            id="email"
            name="email"
            value="<%= user.email %>"
          />
        </div>
        <button
          type="submit"
          class="pixel-button-pokemon text-sm py-2 px-4 rounded"
        >
          Informatie opslaan
        </button>
      </form>
      <h3 class="text-md mb-4">Geselecteerde Hoofd-Pokémon</h3>
      <% if (selectedPokemon) { %>
      <div class="pokemon-box-viewer">
        <img
          src="<%= selectedPokemon.sprites.front_default %>"
          alt="<%= selectedPokemon.name %>"
          class="pokemon-img-viewer mx-auto mb-2"
        />
        <p class="text-xl"><%= selectedPokemon.name %></p>
      </div>
      <% } else { %>
      <p>Geen hoofd-Pokémon geselecteerd</p>
      <% } %>
    </div>
    <div class="caught-pokemon-box flex-grow">
      <h3 class="text-md mb-4">Kies je hoofd-Pokémon</h3>
      <form
        id="pokemonForm"
        action="/viewer/set-main-pokemon"
        method="POST"
        class="flex-grow"
      >
        <div class="pokemon-grid">
          <% caughtPokemon.forEach(pokemon => { %>
          <div class="pokemon-box-viewer" data-pokemon-id="<%= pokemon.id %>">
            <label class="cursor-pointer">
              <input
                type="radio"
                name="mainPokemon"
                value="<%= pokemon.id %>"
                class="hidden"
              />
              <a href="/pokeDex/<%= pokemon.id %>">
                <img
                  src="<%= pokemon.sprites.front_default %>"
                  alt="<%= pokemon.name %>"
                  class="pokemon-img-viewer mx-auto mb-2"
                />
              </a>
              <p class="text-sm pokemon-name"><%= pokemon.name %></p>
            </label>
          </div>
          <% }); %>
        </div>
        <button
          type="submit"
          class="pixel-button-compare py-2 px-4 rounded mt-4"
        >
          Hoofd-Pokémon instellen
        </button>
      </form>
    </div>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const pokemonBoxes = document.querySelectorAll(".pokemon-box-viewer");

      pokemonBoxes.forEach((box) => {
        box.addEventListener("click", function () {
          // Remove highlight from all boxes
          pokemonBoxes.forEach((b) => b.classList.remove("highlighted"));
          // Add highlight to the clicked box
          box.classList.add("highlighted");
          // Check the corresponding radio button
          box.querySelector("input[type='radio']").checked = true;
        });
      });
    });
  </script>
</body>
