<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ontdek het ultieme Pokémon-project voor AP Hogeschool, met 6 geweldige features om je Pokémon-ervaring te verbeteren. Leer, speel en verken de wereld van Pokémon op Mew.Tech."
    />
    <meta
      name="keywords"
      content="Pokémon, AP Hogeschool, project, webpagina, features, spel, educatief, Mew.Tech, Pikachu, Charizard, Squirtle, Bulbasaur, Eevee, Pokeball, Mewtwo"
    />
    <meta
      name="author"
      content="Cedric Demaeschalk - Ian Mondelaers - Jesus O'Bulan"
    />
    <title>Mew.Tech - PokéDex</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.webp" />
    <link
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f0f0f0;
        background-image: url("../assets/images/grassland.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: "Press Start 2P", cursive;
        padding: 1rem;
        min-height: 100vh;
      }
      .pixel-border {
        border: 4px solid #444;
        box-shadow: 4px 4px 0px #aaa;
      }
      .pixel-button {
        background-color:  #ffcc00;
        color: #fff;
        border: 2px solid #cc0000;
        text-shadow: 1px 1px 0px #000;
      }
      .pixel-button:hover {
        background-color: #555;
      }
      .pixel-button-pokemon {
        background-color: #ffcc00; /* Pokémon yellow */
        color: #fff;
        border: 2px solid #cc0000; /* Pokémon red */
        text-shadow: 1px 1px 0px #000;
        text-align: center;
        font-size: 10px; /* Smaller button text */
      }
      .pixel-button-pokemon:hover {
        background-color: #ffdd00;
      }
      .pokemon-img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        animation: appear 1s forwards;
      }
      .pokemon-box {
        background-color: rgba(255, 255, 255, 0.221);
        border: 4px solid #444;
        box-shadow: 4px 4px 0px #aaa;
        padding: 10px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        height: 180px; /* Fixed height for uniformity */
      }
      .pokemon-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px; /* Ensure the text truncates within the box */
        margin: 0 auto;
        font-size: 10px; /* Smaller name text */
      }
      .pokemon-grid {
        display: grid;
        gap: 10px;
        margin-top: 20px;
        grid-template-columns: repeat(3, 1fr); /* Default: 2 columns */
      }
      @media (min-width: 640px) {
        .pokemon-grid {
          grid-template-columns: repeat(4, 1fr); /* Small screens: 4 columns */
        }
      }
      @media (min-width: 768px) {
        .pokemon-grid {
          grid-template-columns: repeat(5, 1fr); /* Medium screens: 6 columns */
        }
      }
      @media (min-width: 1024px) {
        .pokemon-grid {
          grid-template-columns: repeat(6, 1fr); /* Large screens: 8 columns */
        }
      }
      @media (min-width: 1280px) {
        .pokemon-grid {
          grid-template-columns: repeat(8, 1fr); /* Extra-large screens: 10 columns */
        }
      }
      @media (min-width: 1536px) {
        .pokemon-grid {
          grid-template-columns: repeat(10, 1fr); /* 2XL screens: 12 columns */
        }
      }
      header {
        background: linear-gradient(to right, #ff0000, #ffcc00);
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
      }
      @keyframes appear {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .nav-pokemon-img {
      width: 80px; /* Increased size */
      height: 80px; /* Increased size */
      object-fit: contain;
      margin-right: -5px;
      margin-top: -50px;
      margin-bottom: -50px;
    }
    .nav-pokemon-name {
      font-size: 1rem; /* Smaller font size */
    }
    .uncaught {
      background-color: #444;
      color: #ff0000;
    }
    </style>
  </head>
  <body>
    <header class="pixel-border p-4 mb-4">
      <nav
        class="container mx-auto flex flex-col sm:flex-row items-center px-4"
      >
        <div class="flex justify-between items-center w-full sm:w-auto">
          <a class="text-2xl font-bold flex items-center" href="/main">
            <img
              src="./assets/images/logo.webp"
              alt="logo"
              class="h-10 w-10 mr-2"
            />
          </a>
          <% if (selectedPokemon) { %>
            <div class="flex items-center ml-4">
              <img src="<%= selectedPokemon.sprites.front_default %>" alt="<%= selectedPokemon.name %>" class="nav-pokemon-img mr-2" />
              <span class="nav-pokemon-name"><%= selectedPokemon.name %></span>
            </div>
            <% } %>
          <button
            data-collapse-toggle="navbar-default"
            type="button"
            class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
        <div
          class="hidden w-full lg:flex sm:w-auto mt-4 lg:mt-0 lg:ml-auto"
          id="navbar-default"
        >
          <ul class="flex flex-col lg:flex-row lg:space-x-4 text-white">
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/main">Home</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/battler">Duel</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/catcher">Catch</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/compare">Vergelijk</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/pokeDex">PokéDex</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/pokeGuess">Wie is het?</a>
            </li>
            <li class="text-left lg:text-center">
              <a class="hover:text-blue-500" href="/viewer">Mijn Pokémon</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="container mx-auto p-4">
      <form method="get" action="/pokeDex" class="search-bar flex flex-col md:flex-row items-center justify-center w-full max-w-4xl mx-auto space-y-4 md:space-y-0 md:space-x-4">
        <input
          type="text"
          id="search"
          name="search"
          class="pixel-border p-2 flex-grow md:w-auto bg-yellow-300 border-red-600 text-gray-500"
          placeholder="Zoek Pokémon"
          aria-label="Zoek Pokémon"
          value="<%= typeof searchTerm !== 'undefined' ? searchTerm : '' %>"
        />
        <label class="flex items-center space-x-2">
          <input
            type="checkbox"
            id="showAllCheckbox"
            name="showAll"
            class="form-checkbox text-yellow-500 border-red-600"
            <% if (showAll) { %> checked <% } %>
          />
          <span class="text-sm text-black">Toon alle Pokémon</span>
        </label>
        <button type="submit" class="pixel-button py-2 px-4 rounded">Zoek</button>
      </form>
  
      <div class="pokemon-grid" id="pokemon-container">
        <% pokemonData.forEach(pokemon => { %>
        <div class="pokemon-box <% if (!pokemon.isCaught) { %>uncaught<% } %>" data-id="<%= pokemon.id %>">
          <h5 class="card-title text-center pokemon-name">
            #<%= pokemon.id %> <%= pokemon.name %>
          </h5>
          <img
            src="<%= pokemon.sprites.front_default %>"
            class="pokemon-img mx-auto"
            alt="<%= pokemon.name %>"
          />
          <div class="card-body text-center">
            <a class="pixel-button-pokemon py-2 px-4 rounded" href="./pokeDex/<%= pokemon.id %>">Stats</a>
          </div>
        </div>
        <% }); %>
      </div>
    </main>
  
    <script>
      const showAllCheckbox = document.getElementById('showAllCheckbox');
      showAllCheckbox.addEventListener('change', function () {
        const isChecked = showAllCheckbox.checked;
        const queryParams = new URLSearchParams(window.location.search);
        if (isChecked) {
          queryParams.set('showAll', 'true');
        } else {
          queryParams.delete('showAll');
        }
        const newUrl = `${window.location.pathname}?${queryParams.toString()}`;
        window.location.href = newUrl;
      });
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
