<%- include('partials/header') %>
<body>
  <main class="container mx-auto p-4">
    <div
      class="search-bar flex flex-col md:flex-row items-center justify-center w-full max-w-4xl mx-auto space-y-4 md:space-y-0 md:space-x-4"
    >
      <input
        type="text"
        id="search"
        name="searchPokemon"
        class="pixel-border-inputs p-2 flex-grow md:w-auto bg-yellow-300 border-red-600 text-gray-500"
        placeholder="Zoek Pokémon"
        aria-label="Zoek Pokémon"
      />

      <label class="flex items-center space-x-2">
        <input
          type="checkbox"
          id="caughtFilter"
          class="form-checkbox text-yellow-500 border-red-600"
        />
        <span class="text-sm text-black">Toon alle Pokémon</span>
      </label>
    </div>

    <div class="flex flex-wrap justify-center" id="pokemon-container">
      <% pokemonData.forEach(pokemon => { %>
      <div class="pokemon-box" data-id="<%= pokemon.id %>">
        <h2 class="card-title text-center main-card-header">
          #<%= pokemon.id %> <%= pokemon.name %>
        </h2>
        <img
          src="<%= pokemon.sprites.front_default %>"
          class="pokemon-img-compare mx-auto"
          alt="<%= pokemon.name %>"
        />
        <div class="card-body text-center">
          <a
            class="pixel-button-compare py-2 px-4 rounded"
            href="./pokeDex/<%= pokemon.id %>"
            >Check Stats!</a
          >
        </div>
      </div>
      <% }); %>
    </div>

    <!-- Pagination Links -->
    <nav aria-label="Page navigation" class="mt-4">
      <ul class="pagination justify-content-center">
        <% if (page > 1) { %>
        <li class="page-item">
          <a
            class="page-link pixel-button-compare"
            href="?page=<%= page - 1 %>"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === page ? 'active' : '' %>">
          <a class="page-link pixel-button-compare" href="?page=<%= i %>"
            ><%= i %></a
          >
        </li>
        <% } %> <% if (page < totalPages) { %>
        <li class="page-item">
          <a
            class="page-link pixel-button-compare"
            href="?page=<%= page + 1 %>"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <% } %>
      </ul>
    </nav>
  </main>

  <script>
    const button = document.querySelector(
      '[data-collapse-toggle="navbar-default"]'
    );
    const navbarDefault = document.getElementById("navbar-default");

    button.addEventListener("click", function () {
      navbarDefault.classList.toggle("hidden");
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
