<%- include('partials/header') %>
<body class="bg-gray-100">
  <main class="container mx-auto p-4">
    <h1 class="text-center text-3xl mb-4">Safari Zone</h1>
    <div id="initial-message" class="text-center text-xl mb-4">
      A wild <%= randomPokemon.name %> has appeared!
    </div>
    <div
      id="pokemon-container"
      class="flex justify-center items-center"
      style="display: none"
    >
      <div class="pokemon-box">
        <h2 class="text-xl mb-2">
          #<%= randomPokemon.id %> <%= randomPokemon.name %>
        </h2>
        <img
          id="pokemon-img"
          src="<%= randomPokemon.sprites.front_default %>"
          class="pokemon-img mx-auto mb-4"
          alt="<%= randomPokemon.name %>"
        />
        <button id="pokeball-btn" class="pixel-button py-2 px-4 rounded-full">
          <img
            src="../../assets/images/poke-ball.png"
            alt="Pokeball"
            class="w-8 h-8 inline"
          />
        </button>
        <p id="catch-result" class="mt-4"></p>
        <p id="attempts-left" class="mt-2"></p>
        <button
          id="reset-btn"
          class="pixel-button-pokemon py-2 px-4 rounded mt-4"
          style="display: none"
        >
          Opnieuw proberen
        </button>
      </div>
    </div>
    <div class="tutorial-box">
      <h3 class="text-2xl mb-2">Hoe te spelen:</h3>
      <p class="mb-2">
        1. Klik op de Pokébal om te proberen de Pokémon te vangen.
      </p>
      <p class="mb-2">2. Je hebt drie pogingen om de Pokémon te vangen.</p>
      <p class="mb-2">
        3. Als de Pokémon ontsnapt na drie pogingen, kun je op "Opnieuw
        proberen" klikken om het opnieuw te proberen.
      </p>
    </div>
  </main>

  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Hide initial message after 2 seconds and show the Pokémon container
      setTimeout(function () {
        document.getElementById("initial-message").style.display = "none";
        document.getElementById("pokemon-container").style.display = "flex";
      }, 2000);

      let attempts = 3; // Maximum number of attempts to catch a Pokémon
      const pokeballBtn = document.getElementById("pokeball-btn");
      const pokemonImg = document.getElementById("pokemon-img");
      const attemptsLeft = document.getElementById("attempts-left");
      const catchResult = document.getElementById("catch-result");
      const resetBtn = document.getElementById("reset-btn");

      pokeballBtn.addEventListener("click", async function () {
        if (attempts > 0) {
          pokeballBtn.disabled = true;
          pokemonImg.classList.add("shake");

          setTimeout(async function () {
            pokemonImg.classList.remove("shake");

            const catchRate = 0.1;
            const random = Math.random();

            if (random < catchRate) {
              // Post to server to catch the Pokémon
              const response = await fetch("/catcher/catch-pokemon", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                  pokemonId: "<%= randomPokemon.id %>",
                }),
              });
              const result = await response.json();

              if (result.success) {
                catchResult.textContent = "Pokémon gevangen!";
                catchResult.style.color = "green";
                // Keep the Pokémon image visible
              } else {
                catchResult.textContent = result.message;
                catchResult.style.color = "red";
                pokemonImg.style.display = "block"; // Show Pokémon image again
              }
              resetBtn.style.display = "block";
            } else {
              attempts--;
              if (attempts > 0) {
                catchResult.textContent =
                  "Pokémon niet gevangen, probeer opnieuw.";
                catchResult.style.color = "red";
                pokemonImg.style.display = "block"; // Show Pokémon image again
              } else {
                catchResult.textContent = "Pokémon is ontsnapt!";
                catchResult.style.color = "red";
                resetBtn.style.display = "block";
              }
              attemptsLeft.textContent = "Pogingen: " + attempts;
            }
            pokeballBtn.disabled = false;
          }, 1000); // Shake animation duration
        }
      });

      resetBtn.addEventListener("click", function () {
        window.location.reload();
      });

      // Navbar collapse functionality
      const button = document.querySelector(
        '[data-collapse-toggle="navbar-default"]'
      );
      const navbarDefault = document.getElementById("navbar-default");

      button.addEventListener("click", function () {
        navbarDefault.classList.toggle("hidden");
      });

      // Additional reset functionality if needed
      document
        .getElementById("reset-btn")
        .addEventListener("click", function () {
          location.href = "/catcher";
        });
    });
  </script>
</body>
