<%- include('partials/guessheader') %>
</body>
    <main class="container mx-auto p-4">
      <h2 class="text-center title mb-4">Wie is het?</h2>
      <div class="flex justify-center">
        <div class="w-full lg:w-1/3">
          <div class="pokemon-box">
            <div class="pokedex-header text-center">
              <h3>Wie is deze Pokémon?</h3>
            </div>
            <div class="pokedex-body text-center relative">
              <div class="pokemon-img-container">
                <% if (pokemonData && pokemonData.sprites &&
                pokemonData.sprites.front_default) { %>
                <img
                  src="<%= pokemonData.sprites.front_default %>"
                  alt="Who's that Pokémon?"
                  class="pokemon-img mx-auto pokemon-silhouette"
                  id="pokemonImage"
                />
                <% } else { %>
                <p>Geen afbeelding beschikbaar.</p>
                <% } %>
              </div>

              <% if (!feedback || feedback.includes('Incorrect')) { %>
              <form action="/pokeGuess" method="post">
                <% if (pokemonData && pokemonData.id) { %>
                <input
                  type="hidden"
                  name="pokemonID"
                  value="<%= pokemonData.id %>"
                />
                <% } %>

                <div class="search-bar flex w-full mt-4">
                  <input
                    type="text"
                    class="pixel-border flex-grow p-2"
                    name="guess"
                    placeholder="Raad de Pokémon"
                    aria-label="Raad de Pokémon"
                    required
                  />
                  <button
                    class="pixel-button py-2 px-4 rounded"
                    type="submit"
                    id="button-addon2"
                  >
                    Raad
                  </button>
                </div>
              </form>
              <% } %> <% if (feedback) { %>
              <div
                class="feedback text-center mt-4 <% if (feedback.includes('Correct')) { %>correct<% } else { %>incorrect<% } %>"
              >
                <h5><%= feedback %></h5>
              </div>
              <% } %> <% if (statIncreased) { %>
              <div class="stat-increase text-center mt-4">
                <h5>Aanval stat verhoogd met 1!</h5>
              </div>
              <% } %>

              <form action="/pokeGuess/next" method="post">
                <button
                  class="pixel-button py-2 px-4 rounded mt-3"
                  type="submit"
                >
                  Volgende Pokémon
                </button>
              </form>

              <!-- Stats Section -->
              <div class="pokemon-guess-stats mt-4">
                <h5 class="text-center">Jouw Statistieken</h5>
                <ul class="list-disc list-inside">
                  <li>
                    Juist geraden:
                    <span id="correctGuesses"><%= correctGuesses %></span>
                  </li>
                  <li>
                    Fout geraden:
                    <span id="incorrectGuesses"><%= incorrectGuesses %></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tutorial Section -->
      <div class="container mx-auto py-8">
        <div class="tutorial-box">
          <p class="mb-2">
            Welkom bij de Pokémon Raadspel! Volg deze stappen om te beginnen:
          </p>
          <ol class="list-decimal list-inside mb-4">
            <li>Voer de naam van een Pokémon in het zoekveld in.</li>
            <li>Klik op de "Raad" knop om je antwoord in te dienen.</li>
            <li>
              Als je het goed hebt, zal de Pokémon afbeelding zichtbaar worden.
            </li>
            <li>
              Je krijgt een melding dat de aanval statistiek van je Pokémon omhoog gaat.
            <li>
              Klik op de "Volgende Pokémon" knop om naar de volgende Pokémon te
              gaan.
            </li>
          </ol>
        </div>
      </div>
    </main>
    <script>
    // Haal de waarde van de feedback op vanuit de server-side templating
const feedback = "<%= feedback %>";

// Controleer of er feedback is en of de feedback de tekst "Correct" bevat
if (feedback && feedback.includes("Correct")) {
  // Verwijder de klasse "pokemon-silhouette" van het element met id "pokemonImage"
  document
    .getElementById("pokemonImage")
    .classList.remove("pokemon-silhouette");
}

      </script>
    <script src="/js/guesser.js"></script>
  </body>
</html>
